body {
	margin:0px;
	padding:0px;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}

#wrapper{
	float:left;
	width:100%;
	margin:0 0 0 0;
	border:0px solid #ccc;
}

p{
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height:2em;
}

#container{
	width:99%;
	float:left;
	margin: 0 0 0 0;
	margin:0px auto;
	background-color: #fff;
	border:0px solid #eee;
}

#header{
	float:left;
	width:100%;
	height: 90px;
	border:0px solid red;
	margin: 0 0 0 0;
	background:url(../admin/images/admin-h10.png) ;
	border-bottom:4px solid #FFB10D;
}
#topnav {
	background-color:#F5F5F5;
	margin:0;
	float: left;
	width:100%;
	border:0px solid #eee;
	border:1px solid #ccc;
}
#menucontainer{
	float:left;
	width:100%;
}
#menutopcontainer{
	float:left;
	margin:0 0 0 0;
	width:100%;
}
.table_header{
	background-color:#6B73BD;
	background-color:#F89924;
	xbackground-color:#FF9900;
	xbackground-color:#99CC00;
	background-color:#3872B2;
	background-color:#CB2001;
	xbackground-color:#BF5006;
	border-top:4px solid #FFB10D;
	height: 20px;
	color:#FFFFFF;	
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}
.table_header2{
	background-color:#6B73BD;
	background-color:#F89924;
	background-color:#3872B2;
	background-color:#eee;
	border-top:5px solid #ccc;
	height:15px;
	color:#FB6644;	
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}
.totop{
	float:right;
	font:bold 13px  Arial, Helvetica, sans-serif;
}
.table_footer{
	color:#FFFFFF;
	background:url(../admin/images/admin-h8.png) repeat-y;

}
.tdcaptions{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	border-top: 3px solid #FF9900;
	height:17px;
}
.fileuploadtitle{
	background-color:#CB2001;
	border-top: 3px solid #FF9900;
	height:10px;color:#fff;
}
/* writing */
.blue{ 
	color:#1F558B;
}
/* editing */
.cyan{
	color:#1286A6;
}
.red{
	color:#FF3333;
}
.blue2{
	color:#001CA5;
}
.orange{
	color:#ED6F11;
}
.brown{
	color:#663D00;
}
.viola{
	color:#83009A;
}
.green{
	color:#009966;
	color:#006600;
}
.black{
	color:#00013F;
}
.ctable{
	float:left;
	background-color:#F5F5F5;
	border-top:5px solid red;
	xpadding:10px;
	border:1px solid #CCC;
	xheight:100px;
}
.ctable2{
	float:left;
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #CCC;
}
.ctable2 p{
	line-height:1.5em;
}
.ctable2 a{
	color:#FF0000;
}
.ctable2 a:hover{
	color:#1F558B;
}
.ctable2 td{
	border-bottom: 1px solid #ccc;
	line-height:1.5em;
}
.ctable3{
	float:left;
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #CCC;
}
.ctable3 td{
	border-bottom:1px solid #ccc;
}
.ctable4{
	background-color:#F5F5F5;
	border-top:5px solid red;
	xpadding:10px;
	border:1px solid #CCC;
}

.report_header1{
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	background:#eee;
	border:1px solid #ccc;	
}
.rpt_caption{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}
/* STYLE FOR PAGINATION */
#paging a{
	color:#fff;
	font:bold 13px  Verdana, Helvetica, sans-serif;
}
#paging a:hover {
	color:#FFFF00;
}
#tdata{
	font:normal 12px Arial, Verdana, Helvetica, sans-serif;
}
.tborder{
	border:1px solid #000;
}
.tdhover:hover{
	background-color:#eee;
}

a:active {

}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
#sidenav {
	float:left;
	width:14%;
}

#breadcrumb{
	background-color:#FFFFFF;
}
#navlist li{
	display: inline;
/* for IE5 and IE6 */
}

#navlist{
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#navlist a{
	display: block;
	background-color: #E8E8E8;
	border-top: 2px solid #fff;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
	color: #000000; 
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#navlist a:hover { 
	background-color: #3F2E2E;
	color:#FFFFFF;
}
#navlist a:visited {
}

#toolbar li{
	display:block;
}

#toolbar {
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#toolbar a {
	display: block;
	background-color: #E8E8E8;
	border-top: 2px solid #fff;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
	color: #000000; 
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#toolbar a:hover {
	background-color: #3F2E2E;
	color:#FFFFFF;
}

#content{
	float:left;
	width: 100%;
	margin:0 0 0 0;
	padding:0px;
	background-color:#fff;
}
#outercontentpane{
	width:100%;
	float:left;
	border:1px solid #ccc;	
	xmargin:5px;
	padding-bottom:4px;
}
#contentpane{
	float:left;
	width:98%;
	background-color:#F3F3F3;
	padding:0px;
	border:1px solid #CCC;	
	xmargin:2px 0 0px 3px;
	margin:5px;
}
#outercore{
	width:100%;
	float:left;
	margin:0px;
	padding:5px;
	background-color:#FFFFFF;
}
#innercore{
	width: 98%;
	float:left;
	margin:5px;
	padding:5px;
	border:1px solid #ccc;
	background-color:#F5F5F5;
}

#editormenu{
	border:5px solid #D800FF;
	float:left;
}
#writermenu{
	border:5px solid #FFD700;
	float:left;
}
#newsdirector{
}
#publisher{
}
#block{
	width:20%;
	width:90px;
	height:90px;
	float:left;
	display:inline;
	margin:10px;
	padding-left:4px;
	border:1px solid #f5f5f5;
	text-align:center;	
}
#block:hover{
	background-color:#FFFFFF;
	border:1px solid #ddd;
}

#submenu {
	float:left;
	border:1px solid #f5f5f5;
	display:block;
	width:107px;
	height:90px;
	xpadding-left: 10px;
	xpadding-right: 10px;
	xpadding-top:10px;
	xpadding-bottom:10px;
	border:1px solid #f5f5f5;
	display:block;
	height:92px;
	xmargin:2px;
	text-align:center;	
}
#submenu a{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FB6644;
}
#submenu p{
	font-weight:bold;
	line-height:1em;
}
#submenu a:hover {
	color:#003399;
	text-decoration:none;
}
#submenu:hover{
	background-color:#FFFFFF;
	border:1px solid #ddd;
}
#submenu p {
	margin:0px;
}
#block a{
	font:normal 12px Verdana,Arial, Helvetica, sans-serif;
	color:#FB6644;
}
#block a:hover {
	color:#003399;
	text-decoration:none;
}
#block p {
	margin:0px;
	line-height:1.2em;
	font-weight:bold;
}
#panel {
	float:left;
	border:1px solid #ccc;
	margin:0 0 0 0px;
	padding-top:10px;
	background-color:#FFFFFF;
	width:100%;
	padding:5px;
}
#panel2{
	xborder:1px solid #ccc;
	margin:0 0 0 0px;
	padding-top:10px;
	background-color:#FFFFFF;
	width:100%;
	padding:5px;
}
#outerpanel{
	width: 100%;
	border: 0px solid #CCC;	
}
#tablebgcolor{
	background-color: #F5F5F5;	
}

#toolbar_panel{
	float:left;
	background-color: #f5f5f5;
	border:1px solid #CCC;
	width:100%;
}
.midpanel{
	float:left;
	font-size:12px;
	font-weight:bold;
}
#toolbar_btn{
	float:right;
	display: block;
	margin-left:20px;
	margin-right:10px;
	text-decoration:none;
}

#toolbar_btn a{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#ED6F11;	
}
#toolbar_btn a:hover {
	color:#003399;
	text-decoration:none;
}
#toolbar_btn p {
	margin:0px;
}
.clear{
	clear:both;
}
#footer {
	color:#333333;
	margin:0 0 0 0 ;
}
#footer h1{
	text-align:center;
	font:normal 12px Arial,Verdana, Helvetica, sans-serif;
	margin:0 0 0 0 ;
	line-height:1.5em;	
}
/***
LOGIN
*/
#login_container body {
	width:100%;
	background-color:#333333;
}
#login{
	width:480px;
	margin:100px 450px;
	padding:10px;
	background-color: #F1F3F5;
	border: 1px solid #ccc;
	text-align:left;
}
#login_desc{
	float: left;
	width:150px;
	xpadding:10px;
	margin:0 0 0 0;
	xsborder: 1px solid #ccc;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	
}
#login_txtbox{
	float: left;	
	padding:10px;	
	width:300px;
	border: 1px solid #ccc;
	background-color:#E9ECEF;
	padding-bottom:10px;	
}
.login_btn{
	background-color:#E9ECEF;
	width:90px;
	border:1px solid #CCC;
}
.tlogin {
	margin: 100px auto;
	background-color: #F1F3F5;
	border: 1px solid #ccc;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.tcaptions {
	color:#FF9A1E;
	font:normal 15px Verdana, Arial, Helvetica, sans-serif;
}
.bold{
	font-weight:bold;
}
.tnotes {
	margin:0 0 0 0;
}

/*-------------------------------------------------
 Menu panel
-------------------------------------------------*/
#menupanel{
	width:40px;
	background-color:#F5F5F5;
}

/*-------------------------------------------------
 Template sections
-------------------------------------------------*/
#template{
	width: 100%;
	float:left;
	margin:0px auto;
	padding: 0px;
	/*border: 2px solid black;*/
}
#template h1{
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	/*background-image:url(admin/images/current.jpg) no-repeat;*/
}
#templateSection{
	margin:0px auto;
	zpadding: 30px 40px 30px 10px;
	background-color: #E6E9DC;
	background-color: #F3F3F3;
	
	padding-top: 20px;
	padding-bottom:0;
	text-align:left;
	padding:10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#templateSection h2,h1{
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}
#templateSection p{
	margin:0px auto;
	font:16px normal Verdana, Arial, Helvetica, sans-serif;
}
#currentTemplate{
	padding-left: 35%;
}
#browseTemplate{
	width: 100%;
	margin:0px auto;
}
.templateDetails{
	width:300px;
	padding: 2px;
	margin: 5px 5px 5px 5px;
	background-color:#CCCCCC;
}
.quickJumpNav{
	float: right;
	padding-right:50px;
	padding-left: 50px;
}
#templateThumbnail{
	text-align: center;
	float: left;
	padding: 10px;
	margin: 0 20px 30px 25px;
}
#templateThumbnail2{
	text-align: center;
	float: left;
	padding: 10px;
}
#thumbnailbody{
	text-align: center; 
	padding-bottom: 10px;
}
.center{
	text-align:center;
}
#thumbnailbody h1{
	text-align:left;
}
#thumbnailbody h2{
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:lighter;
	text-align:left;
}
/*
.thumbnail{
	text-align: center;
	border: 2px solid #E5E1CF;
	background-color: #B1BDAC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	width : 300px;
	padding: 10px 2px 10px 2px ;
}
*/
.thumbnail {
	border: 10px solid #E5E1CF;	
	border: 10px solid #1BB4CB;		
	background-color: #B1BDAC;	
}
.preview{
	border: 2px solid red;
	background:url(admin/images/preview.gif) no-repeat;
	z-index: 100;
}
.currentTemplateIcon{
	float:left;
	background-image:url(admin/images/current.jpg);
}
.btnUseTemplate
{
	width: 193px;
	font-size: 14px;
	background-color:#006699;
	color: #FFFFFF;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right : 1px solid #868686;
	margin: 10px 0 0 0;
	height: 30px;
}
.clear{
	clear: both;
}
/* MY CLASSES ************************************************ */
.asterisk {
	color:#ED6F11;
	font:bold 17px Verdana, Arial, Helvetica, sans-serif;
	line-height:2em;
	padding: 0px 0 10px 1px;
	xbackground:url(../admin/images/asterisk.png) no-repeat; 
	xpadding-left: 3em;
}
.headico{
	color:#FF9E31;
	color:#ED6F11;
	font:bold 17px Verdana, Arial, Helvetica, sans-serif;	
	background:url(../admin/images/asterisk.png) no-repeat 0.2em; 
	background:url(../admin/images/cpanel.png) no-repeat 0.2em; 
	padding-left:50px;
	line-height:3em;
	margin:0 0 0 0;
}
.welcomemessage{
	font:bold 15px Arial, Verdana, Helvetica, sans-serif;
	margin:0 0 0 10px;
	color:#ED6F11;
}
.caption{
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
}
.caption2{
	background-color:#eee;
	border-right:1px solid #ccc;
	padding-left:5px;
	font:bold 12px verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
	color:#666666;
}
.caption3{
	border:1px solid #ccc;
	padding-left:5px;
	font:bold 12px verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
	color:#666666;
}

.msginfo {
	color:#ED6F11;
	color:#000;
	font:bold 15px  Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
	text-align: center;
	line-height:1.5em;
}
.data {
	color:#000;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
}
.smallwindow {
	width:100%;
	overflow:scroll;
}
.inbox {
	color:#ED6F11;
	font:bold 17px Verdana, Arial, Helvetica, sans-serif;
	line-height:3em;
	padding: 0 0 1px 19px;
	background:url(../admin/images/inbox.png) no-repeat 0 2px;
	padding-left: 3em;
	float:left;
}
.caption2{
	background-color:#eee;
	border-right:1px solid #ccc;
	padding-left:5px;
}
.floatleft{
	float:left;
}
.inboxbody{
	background-color:#F5F5F5;
	border:1px solid #ccc;
	float:left;
}
/*-------------------------------------------------
 WYSIWYG EDITOR sections
-------------------------------------------------*/
#editor {
	padding-left:20px;
	border:1px solid #D5D5D5;
	background-color:#F5F5F5;
	margin: 10px 0 0 10px;
	float:left;	
}
#imagepanel{
	float:left;
	width:280px;
	height:630px;
	background-color:#F5F5F5;
	background-color:#F3F3F3;
	border:1px solid #D5D5D5;
	margin: 10px 0 0 10px;
	padding:0 0 10px 10px;
}
#imagepanel2{
	float:left;
	width:250px;
	background-color:#F3F3F3;
	border:1px solid #D5D5D5;
	margin-left:10px;
}
#imageexplorer2{
	margin:5px;
	width:97%;
	height:590px;
	overflow: auto;
	border:1px solid #D5D5D5;
	background-color:#E8E8E8;
}

#imagepanel3{
	float:left;
	width:100%;
	background-color:#F3F3F3;
	border:1px solid #D5D5D5;
}
#imagepanel,#imagepanel3 p{
	margin:0;
}
#imageexplorer3{
	width:100%;
	height:205px;
	overflow:auto;
	float:left;
	border:1px solid #D5D5D5;
	background-color:#E8E8E8;
}
.xpthumbnail3 {
	display:block;
}

#imagepanel b {
	color:#FF9A1E;
}
#image_explorer {
	width:98%;
	height:300px;
	background-color:#F5F5F5;
	border:1px solid #D5D5D5;
}
#image_content_area{
	margin:10px;
	margin-top:50px;
	width:95%;
	height:250px;
	background-color:white;	
	overflow:scroll;		
}
#preview_image {
	width:200px;
	float:left;
	background-color:#F5F5F5;	
}
.thumbnail {
	margin:2px;
	width:auto;
	display:block;
}
.xpthumbnail2 {
	float:left;
	color:#333333;
	margin:5px;
	border: 1px solid #ccc;
	background-color:#FFFFFF;	
	width:100px;
	height:120px;
	white-space:nowrap;
}
.xpthumbnail {
	float:left;
	display:block;
	color:#333333;
	margin:5px;
	border: 1px solid #ccc;
	background-color:#DFE9F7;	
	background-color:#F3F3F3;
	border-top : solid 1px #d5d5d5;
	border-right : solid 1px #808080;
	border-bottom : solid 1px #808080;
	border-left : solid 1px #d5d5d5;
}
.xpthumbnail a:visited, a:link {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#FB6644;
}
.xpthumbnail pre {
	margin:0 0 0 0;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.xpthumbnail p{
	margin:0 0 0 0;
	padding:0;
		font:normal 12px Arial, Helvetica, sans-serif;
}

/*-------------------------------------------------
  Forms Class: another ilad!!!! hehehhehe
-------------------------------------------------*/
.formbutton
{
	border-top : solid 1px #d5d5d5;
	border-right : solid 1px #808080;
	border-bottom : solid 1px #808080;
	border-left : solid 1px #d5d5d5;
	color : #333;
	font-weight : bold;
}
.mindhackbutton{
	background: white;
	font-weight:bold;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right : 1px solid #868686;
	margin: 1px 5px 0px 0;
	height:30px;
	width:10%;
	color:#FF9A1E;		
}
.button {
	border-top : solid 1px #d5d5d5;
	border-right : solid 1px #808080;
	border-bottom : solid 1px #808080;
	border-left : solid 1px #d5d5d5;
	color : #333;
	font-weight : bold;
}
.inputbox{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:#E9EFF5;
	background-color:#E9EFF5;
	border: 1px solid #999999;
	line-height:1.2em;
}
.formtextfield {
	background-color: #fff;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #485F5F;
	margin: 5px 0px 0px 0px;
	padding: 2px;
	border:#E1D6c6 1px solid;
	max-width: 315px;
}
/* --- error found!! field is missing!! --- */
.missingfield{
	color:#FF0000;
	font:normal 13px Verdana, Arial, Helvetica, sans-serif;
}

.textboxgray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #D5D4D4;
	border: 1px solid #999999;
}
.rpthead{
	font:normal 12px Arial, Helvetica, sans-serif;
	font:normal 13px Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
}
#credits_wrapper{
	width:95%;
	background-color:#eee;
	margin:0px auto;
	padding-top:20px;
	padding-bottom:20px;
	border:1px solid #ccc;
	font:normal 12px Arial, Verdana,Helvetica, sans-serif;
}
#credits{
	margin:0px auto;
	background-color:#fff;
	border:1px solid #ccc;
}
#credits a:link, a:visited {
	color:#FF0000;
}
#credits a:hover {
	color:#003399;
}
#hcredits{
	color:#ff6600;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}
.h2credits{
	color:#ff6600;
	font:bold 15px  Arial, Verdana,Helvetica, sans-serif;
}
.tpage {
	float:left;
		color:#ff6600;
	font:bold 15px  Arial, Verdana,Helvetica, sans-serif;
}
.bigbox{
	width:30px;
	height:30px;
	font-weight:bold;
}