body {
	margin:0 0 0 0;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
}

p{
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height:2em;
}

#header{
	background-color: #99CC00;
	height:50px;
}

.table_header{
	background-color:#2A28B2;
	background-color:#E66836;
	background-color:#96C56F;
	color:#FFFFFF;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}

.ctable{
	xborder:1px solid #ccc;
	background-color:#fff;
}
.tdcaptions{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	border-top: 4px solid #80B5D7;
	border-top: 4px solid #FBB11A;
	border-top: 4px solid #FFFFF0;
	xborder-bottom: 2px solid #2DA3C5;
}

.tdhover:hover{
	background-color:#eee;
}


a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#0066FF;
}

#topnav {
	background-color:#CCCCCC;
	float: left;
	width:100%;
}
#sidenav {
	float:left;
	width:14%;
}

#navlist li{
	display: inline;
/* for IE5 and IE6 */
}

#navlist{
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#navlist a{
	display: block;
	xbackground-color: #E8E8E8;
	border-top: 2px solid #fff;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
	color: #000000; 
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#navlist a:hover { 
	background-color: #3F2E2E;
	color:#FFFFFF;
}
#navlist a:visited {
}

#toolbar li{
	display:block;
}

#toolbar {
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#toolbar a {
	display: block;
	xbackground-color: #E8E8E8;
	border-top: 2px solid #fff;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
	color: #000000; 
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#toolbar a:hover {
	background-color: #3F2E2E;
	color:#FFFFFF;
}


#content{
	float:left;
	width: 85%;
	margin-left:20px;
	border:px solid red;
	margin:0;
}

#outerpanel{
	padding:5px;
	border:1px solid #CCC;	
}

#innerpanel{
	border:1px solid #CCC;	
}

#panel {
	padding-left:10px;
	margin:0 0 0 0;
	padding:2px;
}

#tablebgcolor{
	background-color: #F5F5F5;	
}

#toolbar_panel{
	float:left;
	margin:0 0 0 0;
	xbackground-color: #f5f5f5;
	border-bottom: 1px solid #CCC;
	width:100%;
}

#toolbar_btn{
	float:right;
	display:inline;
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
}

#toolbar_btn a{
	text-decoration:none;
}

.clear{
	clear:both;
}
#footer {
	background-color:#333333;
}

/*-------------------------------------------------
 Template sections
-------------------------------------------------*/
#template{
	width: 100%;
	float:left;
	margin:0px auto;
	padding: 0px;
	/*border: 2px solid black;*/
}
#template h1{
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	/*background-image:url(admin/images/current.jpg) no-repeat;*/
}
#templateSection{
	margin:0px auto;
	zpadding: 30px 40px 30px 10px;
	background-color: #E6E9DC;
	padding-top: 20px;
	padding-bottom:0;
	text-align:left;
	/*border: 2px dotted red;*/
}
#templateSection h1{
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}
#templateSection p{
	margin:0px auto;
	font:16px normal Verdana, Arial, Helvetica, sans-serif;
}
#currentTemplate{
	padding-left: 35%;
}
#browseTemplate{
	width: 100%;
	margin:0px auto;
}
.templateDetails{
	width:300px;
	padding: 2px;
	margin: 5px 5px 5px 5px;
	background-color:#CCCCCC;
}
.quickJumpNav{
	float: right;
	padding-right:50px;
	padding-left: 50px;
}
#templateThumbnail{
	text-align: center;
	float: left;
	/*border: 2px dotted red;*/
	padding: 10px;
	margin: 0 20px 30px 25px;
	
}
#templateThumbnail2{
	text-align: center;
	float: left;
	/*border: 1px dotted red;*/
	padding: 10px;
}
#thumbnailbody{
	text-align: center; 
	padding-bottom: 10px;
	border: px dotted white;
}
.center{
	text-align:center;
}
#thumbnailbody h1{
	text-align:left;
}
#thumbnailbody h2{
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:lighter;
	text-align:left;
}
.thumbnail{
	text-align: center;
	border: 2px solid #E5E1CF;
	background-color: #B1BDAC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	width : 200px;
	padding: 10px 2px 10px 2px ;
}
.preview{
	border: 2px solid red;
	background:url(admin/images/preview.gif) no-repeat;
	z-index: 100;
}
.currentTemplateIcon{
	float:left;
	background-image:url(admin/images/current.jpg);
}
.btnUseTemplate
{
	width: 193px;
	font-size: 14px;
	background-color:#006699;
	color: #FFFFFF;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right : 1px solid #868686;
	margin: 10px 0 0 0;
	height: 30px;
}
.clear{
	clear: both;
}

/* MY CLASSES ************************************************ */
.asterisk {
	color:#FF9E31;
	font:bold 17px Verdana, Arial, Helvetica, sans-serif;
}
.caption{
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
}
.msginfo {
	color:#FF9900;
	font:bold 14px Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
	text-align: center;
}
.data {
	color:#000;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 0 0;
}

.smallwindow {
	width:100%;
	overflow:scroll;
}
/*-------------------------------------------------
 WYSIWYG EDITOR sections
-------------------------------------------------*/
#editor {
	padding-left:20px;
	border:1px solid #D5D5D5;
	background-color:#F5F5F5;
	margin: 10px 0 0 10px;
}


/*-------------------------------------------------
  Forms Class: another ilad!!!! hehehhehe
-------------------------------------------------*/
.formbutton
{
	font-size: 20px;
	background: white;
	color: #494949;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right : 1px solid #868686;
	margin: 1px 5px 0 0;
	padding-left:2px;
	width:10%;
	float: right;

}
.formtextfield {
	background-color: #fff;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #485F5F;
	margin: 5px 0px 0px 0px;
	padding: 2px;
	border:#E1D6c6 1px solid;
	max-width: 315px;
}
/* --- error found!! field is missing!! --- */
.missingfield{
	color:#FF0000;
	font-size:12px;
}
.textboxgray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #D5D4D4;
	border: 1px solid #999999;
}